@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/georgia');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', 'Open Sans', 'Georgia', sans-serif;
}

/* header {
    background-repeat: no-repeat;
    width: 100%;
    height: 980px;
} */

/* .container1 {
    width: 100%;
    max-width: 1920px;
    padding: 0 275px;
} */

/* .container2 {
    width: 100%;
    max-width: 1920px;
    padding: 0 232px  0 275px;
}

.container3 {
    width: 100%;
    max-width: 1920px;
    padding: 0 205px;
} */


/* .navigation__inner {
    height: 85px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 17px 0px;
} */

/* .navigation__item__two {
    display: flex;
    align-items: center;
    gap: 72px;
} */

.col-5 > a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #292929;
}

.navigation__item__three {
    font-weight: 400;
    font-size: 20px;
}

.signin__btn {
    padding: 13px 50px;
}

.start__btn {
    cursor: pointer;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    padding: 13px 50px;
    color: #fff;
}


.header__bg {
    background-image: url(../img/heade-bg.png);
    width: 1920px;
    width: 100%;
    height: 980px;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content {
    padding-top: 175px;
}

.header__h4 {
    font-weight: 700;
    font-size: 65px;
    color: #01996D;
}

.header__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #484848;
    margin-top: 30px;
    margin-bottom: 55px;
}

.header__btn {
    cursor: pointer;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    padding: 20px 50px;
    color: #fff;
}

.release {
    padding-top: 169px;
    padding-bottom: 51px;
}

.release__cards {
    display: flex;
    gap: 95px;
}

.release__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.release__h4 {
    font-weight: 700;
    font-size: 50px;
    color: #01996D;
}

.release__p {
    font-weight: 600;
    font-size: 24px;
    color: #424242;
}

.release__text {
    font-weight: 500;
    font-size: 20px;
    color: #424242;
}

.personalize__head  ,.understand__head ,.alivio__head{
    display: flex;
    align-items: flex-end;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

.personalize__head > h6  {
    margin-left: -63px;
}

.understand__head > h6 {
    margin-left: -85px;
}

.alivio__head > h6 {
    margin-left: -38px;
    margin-bottom: 18px;
}

.personalize {
    padding-top: 110px;
}

.personalize__text {
    font-weight: 500;
    font-size: 20px;
    color: #424242;
    padding-top: 30px;
    padding-bottom: 60px;
}

.personalize__img {
    width: 390px;
    height: 492px;
    background: url(../img/personalize-bg.png) #C4C4C4;
    border-radius: 12px;
    background-repeat: no-repeat;
}

.personalize__img > img {
    padding-top: 225px;
    padding-left: 205px;
}

.understand {
    padding-top: 371px;
}

.understand__text {
    font-weight: 500;
    font-size: 20px;
    color: #424242;
    padding-top: 55px;
    padding-bottom: 37px;
}

.alivio__text {
    font-weight: 500;
    font-size: 20px;
    color: #424242;
    padding-top: 45px;
    padding-bottom: 48px;
}

.about__kayla {
    background: #245852;
}

.inner__kayla {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 228px;
    padding-bottom: 175px;
}

.kayla__h4 {
    font-size: 50px;
    color: #FFFFFF;
}

.kayla__text {
    padding-top: 33px;
    padding-bottom: 57px;
    font-size: 25px;
    color: #FFFFFF;
}

.kayla__btn {
    cursor: pointer;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    width: 240px;
    height: 65px;
    color: #fff;
    font-size: 20px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 168px;
}

.product__heading {
    font-weight: 600;
    font-size: 25px;
    color: #424242;
}

.product__h4 {
    padding-top: 15px;
    padding-bottom: 25px;
    font-weight: 700;
    font-size: 50px;
    color: #01996D;
}

.product__text {
    padding-bottom: 40px;
    font-weight: 400;
    font-size: 20px;
    color: #484848;
}

.find__btn {
    cursor: pointer;
    width: 227px;
    height: 65px;
    background: #01996D;
    border: 1px solid #01996D;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
}

.product__card {
    margin-bottom: 150px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-top: -380px;
    margin-left: -60px;
    width: 296px;
    height: 293px;
    filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.card__inner {
    display: flex;
    padding: 22px 55px 30px 60px;
    flex-direction: column;
    align-items: center;
}

.card__header {
    padding-bottom: 8px;
    font-size: 14px;
    color: #000000;
}

.card__line {
    width: 110px;
    height: 0px;
    border: 0.74px solid #000000;
}

.card__img {
    padding-top: 15px;
    padding-bottom: 10px;
}

.card__mikayla {
    font-size: 11px;
    color: #000000;
}

.card__h5 {
    padding-top: 20px;
    padding-bottom: 16px;
    font-size: 15px;
    color: #000000;
}

.card__ul {
    font-size: 10px;
    color: #000000;
}

footer {
    background: #245852;
}

.footer__link {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 95px;
    padding-bottom: 140px;
}

.footer__link > h4 {
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
}

.footer__link > a {
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
}